h1 {
    color: #a8d46f;
}

h2, h3, p {
    color: white;
}

.cortical-apps {
    /* background-color: #136690; */
    background-color: #1C3B5C;
}

.join-btn {
    background-color: #ef7c6e;
    padding: 3% 7% 3% 7%;
    border-color: #ef7c6e;
    border-width: thick;

    font-size: 175%;
    color: white;

    font-weight: bold;
    text-align: center;
}
.join-btn:hover {
    background-color: #ec9b90;
    padding: 3% 7% 3% 7%;
    border-color: #ef7c6e;
    border-width: thick;

    font-size: 175%;
    color: #265a88;

    font-weight: bold;
    text-align: center;
}

.details-btn {
    background-color: #4ac2d2;
    padding: 1% 7% 1% 7%;
    border-color: #4ac2d2;
    border-width: thick;

    font-size: 125%;
    color: white;

    font-weight: bold;
    text-align: center;
}
.details-btn:hover {
    background-color: #4ac2d2;
    padding: 1% 7% 1% 7%;
    border-color: #4ac2d2;
    border-width: thick;

    font-size: 125%;
    color: #265a88;

    font-weight: bold;
    text-align: center;
}

.slack-btn {
    background-color: #4ac2d2;
    padding: 1% 1% 1% 1%;
    border-color: #4ac2d2;
    border-width: thick;

    max-width: 15vmin;

    font-size: 125%;
    color: white;

    font-weight: bold;
    text-align: center;
}
.slack-btn:hover {
    background-color: #265a88;
    padding: 1% 1% 1% 1%;
    border-color: #265a88;
    border-width: thick;

    max-width: 15vmin;

    font-size: 125%;
    color: #265a88;

    font-weight: bold;
    text-align: center;
}