.initiative-btn {
    padding: 1% 7% 1% 7%;
    margin-bottom: 5%;
    border-width: thick;

    color: #ffffff;

    font-weight: bold;

    text-align: center;
}

.initiative-btn:hover {
    color: #ededed;
}

#workshops-btn {
    background-color: #ef7c6e;
    border-color: #ef7c6e;
}

#cortical-apps-btn {
    background-color: #a8d46f;
    border-color: #a8d46f;
}

#projects-btn {
    background-color: #136690;
    border-color: #136690;
}

#journey-of-member {
    background-color: #f1f2ff;
    /* padding-bottom: 5vmin; */
}

.logo-stage {
    max-width: 25%;
    max-height: inherit;

    min-width: 90pt;
    min-height: inherit;

    padding-bottom: 0%;
}