.team-div {
  padding-bottom: 5%;
}

.team-banner > h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;

  padding: 1vh 0;
  color: #ffffff;
}

.team-banner > h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;

  padding: 1vh;
  color: #ffffff;
}

.team-banner b {
  color: #ffffff;
}

.team-div a {
  color: #ffffff;
  text-decoration: none;
}

.team-div a:hover {
  text-decoration: underline;
}

.team-banner {
  background-color: #EF7C6E;
  text-align: center;

  padding: 1em;
}

.team-photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
}

.team-photos h2 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 3vh;
}

.team-photos h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 1vh;
}

.team-photos img {
  width: 10vw;
  border-radius: 50%;
}

.team-photos :nth-child(1),
.team-photos :nth-child(2) {
  flex-basis: 50%
}

.team-photos :nth-child(3),
.team-photos :nth-child(4),
.team-photos :nth-child(5),
.team-photos :nth-child(6) {
  flex-basis: 25%;
}


.team-photos :nth-child(7),
.team-photos :nth-child(8),
.team-photos :nth-child(9),
.team-photos :nth-child(10) {
  flex-basis: 25%;
}


.team-photos :nth-child(11),
.team-photos :nth-child(12),
.team-photos :nth-child(13),
.team-photos :nth-child(14),
.team-photos :nth-child(15) {
  flex-basis: 20%
}



.team-photos :nth-child(16),
.team-photos :nth-child(17),
.team-photos :nth-child(18) {
  flex-basis: 33%
}

@media screen and (max-width: 900px) {
  .team-photos {
    flex-direction: column;
  }

  .team-photos img {
    width: 50%;
  }
}
