@import '../common.scss';

.events-div {
  padding-bottom: 5%;
}

.events-div > h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;

  color: #ffffff;
  background-color: #A8D46F;

  padding: 1em;
  margin-bottom: 1.5em;
}

.events-div h2 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 30px;

  margin: 0 9vw;
}

.events-div p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  margin: 2vh 9vw;
}
