@import '../common.scss';

.button a {
    background-color: #265a88;
    padding: 4% 8% 4% 8%;
    border: none;
    border-radius: 4px;

    font-size: 155%;
    color: #EDEDED;

    font-weight: bold;
    text-decoration: none;
}

.button {
    text-align: center;
    padding: 4% 8% 8% 8%;
}
