.advanced-proj-div {
  padding-bottom: 5%;
  text-align: center;
}

.advanced-proj-div h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;

  color: #ffffff;

  padding: 1em 0;
  margin-bottom: 1.5em;
}

.advanced-proj-div .curr-proj-div h1 {
  background-color: #136690;
}

.advanced-proj-div .on-hold-div h1 {
  background-color: #6B8998;
}

.advanced-proj-div .curr-proj-div {
  padding-top: 0
}

.on-hold-div {
  text-align: center;
  padding-bottom: 5%;
}

.on-hold-projects {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.on-hold-proj {
  width: 33%;
  padding: 0px 15px;
}

.on-hold-proj a {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0px 10px 0px;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  color: #337ab7;
  font-size: 30px;
  background-color: transparent;
  transition: 0.2s;
}

.on-hold-proj a:hover {
    color: #265A88;
    background-color: transparent;
    text-decoration: underline;
}

.on-hold-proj p {
  font-size: 15px;
  line-height: 1.42857143;
}

.advanced-proj-div > a {
    background-color: #265A88;
    padding: 3.5% 7% 3.5% 7%;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;

    font-size: 155%;
    color: #ffffff;

    text-decoration: none;

    transition: 0.2s;
}

.advanced-proj-div > a:hover {
    background-color: #EDEDED;
    color: #265A88;
}

@media screen and (max-width: 900px) {
  .on-hold-projects {
    flex-direction: column;
    align-items: center;
  }

  .on-hold-proj {
    width: 90%;
  }
}
