.ns-docs-main{
    margin-left: 200px;
    padding: 50px;
}

.ns-docs-intro{
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
}

.ns-docs-getting-started{
    font-family: Inter;
    font-weight: 600;
}