.ns-docs-sidebar{
    width: 200px;
    height: 100%;
    border-right: 1px solid lightgrey;
    position: fixed;
}

.ns-docs-sidebar p{
    color: black;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
}

.ns-docs-sidebar p:hover{
    color: white;
    background-color: #4ac2d2;
}

.ns-docs-logo{
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: -10px -40px;
}

.ns-docs-sidebar-slide{
  margin-left: 30px;
  height: 200px;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.ns-docs-sidebar-slide p{
  padding: 10px 10px 10px 15px;
}

.ns-docs-sidebar-slide p:hover{
  border-left: 3px solid #4ac2d2;
  padding: 7px 10px 7px 12px;
  margin: 3px 0px 3px 0px;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 700px) {
  .ns-docs-sidebar {
    display: none;
  }
}