@import '../../common.scss';

.navbar {
    background-color: $ntuoft-blue;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.navbar button {
    color: #ffffff;
    background-color: transparent;
    font-size: 21px;
    text-align: center;
    text-decoration: none;

    display: inline-block;

    transition: 0.2s;
}

.navbar button:hover {
  color: $blue-dark;
  text-decoration: underline;
}

.navbar img{
    max-width: 25%;
    max-height: inherit;

    min-width: 140pt;
    min-height: inherit;

    display: block;
    margin: 0 auto;
}
