.hello-div {
  color: #ffffff;
  background-color: #4AC2D2;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  text-align: center;

  padding: 3vh;
}

.hello-div h1 {
  color: inherit;
  font-size: 20vh;
}

.hello-div h2 {
  color: inherit;
  font-size: 36px;
  padding: 7vh;
}
