.neurostack-div {
  padding-bottom: 5%;
  background-color: #1C3B5C;
  text-align: center;
}

.neurostack-div h1{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  color: #ffffff;
}

.neurostack-div h2{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 30px;
  margin: 2vh 0;
  color: #ffffff;
}

.neurostack-div p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 5vh 10vw ;
  color: #ffffff;
  padding-bottom: 50px;
}

.neurostack-div .link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 5vh 10vw ;
  color: #ffffff;
  text-decoration: none;
  background-color: #265a88;
  padding: 3vh 14vh;
  border-radius: 4px;
  transition: 0.2s;
}

.neurostack-div .link:hover {
  background-color: #ededed;
  color: #265a88;
  text-decoration: underline;
}

.neurostack-div img {
  width: 100%;
  height: auto;
}
