.neurostack-div {
  padding-bottom: 5%;
  background-color: #1C3B5C;
  text-align: center;
}

.neurostack-div h1{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  color: #ffffff;
}

.neurostack-div h2{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 30px;
  margin: 2vh 0;
  color: #ffffff;
}

.neurostack-div p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 5vh 10vw ;
  color: #ffffff;
}

.neurostack-div a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 5vh 10vw ;
  color: #ffffff;
  text-decoration: none;
}

.neurostack-div a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.neurostack-div img {
  width: 100%;
  height: auto;
}
