.cortical-apps-div {
  background-color: #1C3B5C;
  text-align: center;
  padding: 10vh 10vw;
}

.cortical-apps-div h1{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  color: #ffffff;
}

.cortical-apps-div h2{
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 30px;
  margin: 2vh 0;
  color: #ffffff;
}

.cortical-apps-div p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 1vh 0;
  color: #ffffff;
}

.cortical-apps-div b {
  color: #ffffff;
}

.cortical-apps-div > img {
  width: 80%;
  height: auto;
}

.cortical-apps-div > h1 {
  margin: 8vh 0;
}

.idea-making,
.brain-hacking  {
  padding: 0 8vw;
}

.idea-making h1 ,
.brain-hacking h1{
  color: #A8D46F;
  margin: 1.5vh 0;
}

.steps-to-idea {
  margin: 8vh 0 6vh 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.steps-to-idea h1 ,
.dev-time h1 {
  color: #A8D46F;
  font-weight: 700;
}

.dev-time {
  margin: 3vh 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.dev-time img {
  width: 16%;
  min-width: 140pt;
  height: auto;
  margin-right: 13vw;
}

.cortical-div-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cortical-div-btns a {
  margin: 3vh 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.cortical-div-btns a:nth-child(1) {
  background-color: #EF7C6E;
  padding: 7vh 7vw;
  font-size: 155%;
}

.cortical-div-btns a:nth-child(2) {
  background-color: #265A88;
  padding: 3vh 7vw;
}

.cortical-div-btns a:nth-child(3) {
  background-color: #4ac2d2;
  padding: 2vh 2vh;
  width: 7%;
}

.cortical-div-btns a {
  min-width: 50pt;
}

.cortical-div-btns a img {
  display: block;
  width: 100%;
  height: auto;
}

.cortical-div-btns a:hover {
  background-color: #EDEDED;
  color: #265A88;
}

@media screen and (max-width: 900px) {

  .cortical-apps-div > img {
    width: 100%;
  }

  .cortical-apps-div *{
    text-align: center;
  }

  .steps-to-idea,
  .dev-time,
  .cortical-div-btns {
    flex-direction: column;
  }

  .idea-making,
  .brain-hacking  {
    padding: 0;
  }

  .dev-time img {
    margin: 0 auto;
  }
}
