.initiatives-div {
  padding-bottom: 5%;
}

.initiatives-div > h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;

  color: #ffffff;
  background-color: #136690;

  padding: 1em 0;
  margin-bottom: 1.5em;
}
