// @import '~bootstrap/scss/bootstrap.scss';

$bg-dark: #4a4a57;
$bg-light: #f1f2ff;
$ntuoft-blue: #4ac2d2;

/*----------------------UTILITIES----------------------*/
.row-align-cols-center {
    text-align: center;
}

.row-align-cols-center > * {
    display:inline-block;
    float:none;
}

.row-align-bottom {
    font-size: 0;
}
.row-align-bottom > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
    margin-left: auto;
}

.row-align-bottom > *:last-child {
    vertical-align: bottom;
}

.title-padding {
    padding-bottom: 4%;
}