@import '../common.scss';

.faq-div {
  padding-bottom: 5%;
}

.faq-div > h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;

  color: #ffffff;
  background-color: #4A4A57;

  padding: 1em;
  margin-bottom: 1.5em;
}
