.workshops-div > h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;

  color: #ffffff;
  background-color: #136690;

  padding: 1em;
  margin-bottom: 1.5em;
}

.workshops-div p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  margin: 13vh 10vw;
}
