.navbar {
    background-color: #4ac2d2;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.navbar h1 {
    color: #ffffff;
    margin: 1vh 0;
    background-color: transparent;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.navbar h1:hover {
  color: #265A88;
  text-decoration: underline;
}

.navbar img{
    max-width: 25%;

    min-width: 140pt;

    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .navbar{
    grid-template-columns: 100%;
  }
}
