@import '../common.scss';

.navbar {
    background-color: $ntuoft-blue;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.navButton a {
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
}

.navButton a:hover {
  color: #30527C;
  text-decoration: underline;
}
