.sponsors {
  background-color: #f1f2ff;
  padding-top: 4%;
  padding-bottom: 5%;
  text-align: center;
}

.sponsors h1 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  margin-bottom: 2%;
  font-size: 36px;
}

.sponsors h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.sponsors h3 a {
  color: #337ab7;
  background-color: transparent;
  text-decoration: none;
  transition: 0.2s;
}

.sponsors h3 a:hover {
    color: #265A88;
    background-color: transparent;
    text-decoration: underline;
}

.sponsors .images-2-cols {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}

.sponsors .images-3-cols {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

#branch_out{
  margin-left: 13%;
  max-width: 73%;
  height: auto;
}

#neurotechx{
  margin-right: 80%;
  max-width: 40%;
  height: auto;
}

#ibbme_uoft{
  justify-self: end;
  max-width: 65%;
  height: auto;
}

#skule_uoft{
  max-width: 80%;
  height: auto;
}

#ece_uoft{
  justify-self: start;
  max-width: 65%;
  height: auto;
}

#interaxon{
  justify-self: end;
  margin-right: 5%;
  max-width: 50%;
  height: auto;
}

#student_life{
  max-width: 100%;
  height: auto;
}

#openbci{
  justify-self: start;
  margin-left: 5%;
  max-width: 65%;
  height: auto;
}

#neurosky{
  margin-left: 13%;
  max-width: 40%;
  height: auto;
}

#yncn{
  margin-right: 85%;
  max-width: 50%;
  height: auto;
}

@media screen and (max-width: 900px) {
  .sponsor-images {
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, 1fr);
  }

  #skule_uoft{
    max-width: 50%;
    height: auto;
  }

  #student_life{
    max-width: 50%;
    height: auto;
  }

  .sponsors h3 {
    padding: 0 1vh;
  }
}
